@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* Шрифты */
  --font-family: "PT Sans", sans-serif;

  /* Текст */
  --font-size-small: 16px;
  --font-size-block: 18px;
  --font-size-basic: 22px;
  --font-size-phone: 40px;
  --line-height-small: 21px;
  --line-height-block: 21px;
  --line-height-basic: 26px;
  --line-height-phone: 40px;

  /* Текст button, input */
  --font-size-button-small: 16px;
  --font-size-button-big: 20px;
  --font-size-check: 18px;
  --font-size-input: 18px;
  --line-height-button-small: 20px;
  --line-height-button-big: 36px;
  --line-height-check: 23px;
  --line-height-input: 24px;

  /* Заголовки */
  --font-size-h1: 60px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --line-height-h1: 78px;
  --line-height-h2: 36px;
  --line-height-h3: 28px;
  --line-height-h4: 24px;

  /* Палитра */
  --white: #ffffff;
  --white-60: rgba(255, 255, 255, 0.6);
  --white-30: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --black-20: rgba(0, 0, 0, 0.2);
  --black-30: rgba(0, 0, 0, 0.3);
  --gray-dark: #333333;
  --gray-light: #e5e5e5;
  --gray-bg: #f2f2f2;
  --grey-blue: #3f5e72;
  --blue: #82b3d3;
  --blue-dark: #68a2ca;
  --blue-dark-30: rgba(104, 162, 202, 0.3);
  --blue-light: #83b3d3;
  --blue-light-12: rgba(131, 179, 211, 0.12);
  --blue-light-20: rgba(131, 179, 211, 0.2);
  --brown: #756157;
  --brown-30: rgba(117, 97, 87, 0.3);
  --brown-dark: #615048;
  --brown-light: #756257;
  --green: #7db54f;
  --green-dark: #6c9e42;
  --red: #ff5757;

  /* Цвет текста color */
  --color-basic: var(--black);
  --color-second: var(--gray-dark);
  --color-error: var(--red);
  --color-hover: var(--brown);
  --color-active: var(--brown-30);
  --color-bg-default: var(--white);
  --color-bg-small: var(--white-30);
  --color-bg-hover: var(--white-60);
  --color-bg-active: var(--white-30);

  /* Цвет фона background-color */
  --bg-body: var(--gray-bg);
  --bg-basic-1: var(--white);
  --bg-basic-2: var(--black-30);
  --bg-block-1: var(--blue);
  --bg-block-2: var(--blue-light-12);
  --bg-block-3: var(--blue-light-20);

  /* Цвет фона кнопки */
  --bg-button-basic: var(--brown);
  --bg-button-basic-hover: var(--brown-dark);
  --bg-button-second: var(--blue);
  --bg-button-second-hover: var(--blue-dark);
  --bg-button-select: var(--green);
  --bg-button-select-hover: var(--green-dark);
  --bg-button-disabled: var(--gray-light);
  --border-focus: var(--blue-light);

  /* Цвет form */
  --bg-form-input: var(--grey-blue);
  --bg-form-el-1: var(--gray-light);
  --bg-form-el-2: var(--gray-bg);

  /* Тени */
  --shadow: var(--black-20);

  /* Ссылка */
  --link-current: var(--brown-light);

  /* Цвет иконки */
  --icon-fill-basic: var(--black);
  --icon-fill-basic-hover: var(--brown);
  --icon-fill-basic-active: var(--brown-30);
  --icon-fill-second: var(--blue-light);
  --icon-fill-second-hover: var(--blue-dark);
  --icon-fill-second-active: var(--blue-dark-30);
  --icon-badge-text: var(--green);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* Общие стили */
  font-family: var(--font-family);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  color: var(--color-basic);
  background-color: var(--bg-body);
  margin: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* Тень страницы */
.page-shadow {
  background: var(--white);
  box-shadow: 0 0 15px var(--shadow);
  margin: 0 auto;
  min-height: 100%;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Buttons - общее */
.button-small,
.button-big {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: var(--color-bg-default);
}

.button-small {
  font-size: var(--font-size-button-small);
  line-height: var(--line-height-button-small);
  padding: 8px 16px;
}

.button-big {
  font-size: var(--font-size-button-big);
  line-height: var(--line-height-button-big);
  padding: 8px 50px;
}

.button-small:active,
.button-big:active {
  color: var(--color-bg-small);
}

.button-primary {
  background-color: var(--bg-button-basic);
}

.button-primary:hover {
  background-color: var(--bg-button-basic-hover);
}

.button-secondary {
  background-color: var(--bg-button-second);
}

.button-secondary:hover {
  background-color: var(--bg-button-second-hover);
}

.button-selected {
  background-color: var(--bg-button-select);
}

.button-selected:hover {
  background-color: var(--bg-button-select-hover);
}

.button-ghost {
  background-color: transparent;
}

.button-ghost:hover {
  color: var(--color-bg-hover);
}

.button-disabled {
  background-color: var(--bg-form-el-1);
}

/* Header */
.navigation {
  display: flex;
  padding: 14px 70px;
  gap: 0 30px;
}

.navigation-logo {
  position: relative;
  width: 140px;
  flex-shrink: 0;
}

.navigation-logo-img {
  position: absolute;
  top: -14px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 32px;
}

.navigation-link {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration-line: underline;
  text-decoration-color: var(--link-current);
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
}

.navigation-user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 268px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-icon {
  width: 44px;
  height: 100%;
  padding: 0 12px;
  flex-shrink: 0;
}

.navigation-user-item {
  margin-left: 20px;
}

.navigation-btn-link {
  padding-left: 34px;
  padding-right: 34px;
}

.icon-favorite {
  display: block;
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -3px;
  right: -7px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  background-color: var(--icon-badge-text);
  color: var(--color-bg-default);
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Footer */
.page-footer {
  padding: 40px 70px 35px;
  display: flex;
  align-items: center;
}

.contacts-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
}

.social-icon {
  width: 47px;
  padding: 0 12px;
}

.contacts-htmlacademy-icon {
  width: 142px;
}

.contacts-phone {
  font-size: var(--font-size-phone);
  line-height: var(--line-height-phone);
  color: inherit;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
}

/* Главная страница */
.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

/* Hero  */
.index-hero {
  background-color: var(--bg-form-input);
  background-image:
    url("../images/background/welcome-background-mask.svg"),
    url("../images/background/welcome-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: bottom, center;
  padding: 51px 0 82px;
}

/* Заголовок и описание секций */
.preview-title {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 25px;
}

.preview-description {
  line-height: var(--line-height-basic);
  color: var(--color-second);
  margin: 0;
}

/* Блок - Преимущества */
.advantages-preview {
  padding: 69px 70px 90px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item,
.infrastructure-item {
  width: 400px;
  min-height: 385px;
  padding: 40px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-dark {
  background-color: var(--bg-block-1);
  color: var(--color-bg-default);
  display: flex;
}

.bg-light {
  background-color: var(--bg-block-2);
}

.bg-medium {
  background-color: var(--bg-block-3);
}

.advantages-title {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 30px;
}

.advantages-description {
  font-size: var(--font-size-block);
  line-height: var(--line-height-block);
  margin: 30px 0 0;
}

.advantages-container {
  display: flex;
  width: 100%;
}

.advantages-img {
  display: block;
  width: 100%;
  max-width: 800px;
  height: 100%;
  object-fit: cover;
}

/* Блок - Инфраструктура */
.infrastructure-preview {
  padding: 64px 70px;
}

.infrastructure-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-title {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 30px 0;
}

.infrastructure-description {
  font-size: var(--font-size-block);
  line-height: var(--line-height-block);
  padding: 0;
  margin: 0;
}

/* Блок - Поиск */
.search {
  padding: 96px 70px;
}

.search-preview {
  margin-bottom: 54px;
}

/* Блок - Подписка */
.subscribe {
  padding: 96px 70px 104px;
  text-align: center;
}

.subscribe-preview {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-email {
  font-family: inherit;
  font-size: var(--font-size-input);
  line-height: var(--line-height-input);
  background-color: var(--bg-form-el-2);
  padding: 0 20px;
  border-radius: 4px 0 0 4px;
  border-style: none;
  width: 452px;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
}

.subscribe-bg {
  background-color: var(--bg-form-input);
  background-image: url("../images/background/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-bg-default);
}

.subscribe-bg-preview {
  color: var(--color-bg-default);
}

/* Страница Каталог */
.catalog-search {
  color: var(--color-bg-default);
  background-color: var(--bg-form-input);
  background-image: url("../images/background/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 70px 70px;
}

.catalog-title {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: 700;
  margin: 0 0 8px;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 0 0 40px;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: inherit;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

/* Форма - Поиск гостиницы по фильтрам */
.search-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}

.search-form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}

.search-form-field-col {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.search-form-legend {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: 700;
  margin: 0 0 32px;
}

.search-form-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-form-name {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: var(--font-size-check);
  line-height: var(--line-height-check);
}

.search-form-field-row {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.search-form-number {
  display: flex;
  align-items: center;
  width: 143px;
  color: var(--color-second);
  background-color: var(--bg-form-el-2);
  padding: 0;
  font-size: var(--font-size-input);
  line-height: var(--line-height-input);
}

.search-form-input {
  margin: 0;
  width: 20px;
  height: 20px;
}

.search-form-number-input {
  font-family: inherit;
  font-size: var(--font-size-input);
  line-height: var(--line-height-input);
  font-weight: 700;
  border-style: none;
  background-color: var(--bg-form-el-2);
  padding: 12px 0 12px 20px;
  width: 100px;
}

.price-start {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.price-end {
  border-radius: 0 4px 4px 0;
}

.field-button {
  justify-content: flex-end;
  flex-direction: column;
  gap: 30px;
}

.search-form-button {
  padding-left: 50px;
  padding-right: 50px;
}

/* Блок - Результаты поиска */
.search-result {
  padding: 50px 70px 60px;
}

.search-result-header {
  margin: 0 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

/* Header блока - Результаты поиска, сортировка, вид*/
.result-title {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.sort-container {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.result-view-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.result-sort {
  color: var(--color-second);
  font-size: var(--font-size-block);
  line-height: var(--line-height-block);
  border: 2px solid var(--bg-form-el-1);
  background-color: var(--bg-basic-1);
  border-radius: 4px;
  padding: 12px 20px;
  width: 292px;
}

.result-view-item {
  border: 2px solid var(--bg-form-el-1);
  background-color: var(--bg-basic-1);
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.view-item-current {
  border-color: var(--color-basic);
}

/* Блок карточек отелей */
.search-result-list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card {
  border: 1px solid var(--bg-form-el-1);
  padding: 20px;
  width: 100%;
  min-height: 438px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
}

.hotel-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.hotel-title {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: 700;
  margin: 0;
}

.hotel-card-description {
  margin: 0;
  font-size: var(--font-size-block);
  line-height: var(--line-height-block);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotel-card-action {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotel-card-rating {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotel-about,
.hotel-add-favorite,
.hotel-delete-favorite,
.hotel-user-rating {
  display: inline-block;
  padding: 8px;
  width: 140px;
}

.hotel-user-rating {
  font-size: var(--font-size-button-small);
  line-height: var(--line-height-button-small);
  font-weight: 400;
  color: var(--color-second);
  background-color: var(--bg-form-el-1);
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.search-result-pagination {
  margin: 40px 0 60px;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  width: 60px;
  line-height: 60px;
  text-align: center;
}

.pagination-link {
  width: 100%;
  height: 100%;
  padding: 12px 0;
}

.pagination-next {
  color: inherit;
  text-align: center;
  text-decoration: none;
}
